<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">Made with️ ❤️in Kitchener © 2022 DriveTest Booking Kiosk</p>
    <!-- <ul class="list-inline">
    <li class="list-inline-item"><a href="/">Dashboard</a></li>
    <li class="list-inline-item"><a href="/g">Login</a></li>
    <li class="list-inline-item"><a href="/g2">Signup</a></li>
    </ul> -->
</footer>
