<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="container-fluid" id="grad1">
        <div class="row justify-content-center mt-0 bg-success">
            <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 m-5">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                    <div class="row">
                        <div class="col-md-12 mx-0">
                                <fieldset>
                                    <div class="form-card mt-5">
                                        <h2 class="fs-title text-center">Registration completed successfully!</h2>
                                        <br><br>
                                        <div class="row justify-content-center">
                                            <div class="col-3">
                                                <img src="https://img.icons8.com/color/96/000000/ok--v2.png" class="fit-image">
                                            </div>
                                        </div>
                                        <br><br>
                                        <div class="row justify-content-center mb-5">
                                            <div class="col-7 text-center">
                                                <h5>You have successfully registered and now have access to your account and book for a drive test.</h5>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('partials/footer.ejs') %>
</body>
</html>

<%- include('partials/scripts') %>